extends layout

block content
  center.jumbotron
    h1 About the project
    p(style="color: #A0A0A0;") 
      br
      b Version:
      br
      | 1.2.50.3
      br
      br
      b Developed by:
      br
      | Rounaq Jhunjhunu Wala
      br
      | Anshuman Suri
      br
      | Varun Jain
      br
      | Parikshit Diwan