extends layout

block content
  script(src='/js/control.js')
  .jumbotron.appcontrol
    h1 Appliance Control
    br
    .container
    .row
      .col-sm-12(style='text-align:center;') 
        button.btn.btn-primary.all_off
          | All off
    .row
      .col-sm-6 Fridge
      |     
      .col-sm-6
        input(type='checkbox', name='my-checkbox',id="box1", checked='checked', data-off-color='warning')
    br
    .row
      .col-sm-6 Garage Opener
      |     
      .col-sm-6
        input(type='checkbox', name='my-checkbox',id="box2", checked='checked', data-off-color='warning')
    br
    .row
      .col-sm-6 Oven
      |     
      .col-sm-6
        input(type='checkbox', name='my-checkbox',id="box3", checked='checked', data-off-color='warning')
    br
    .row
      .col-sm-6 Charger
      |     
      .col-sm-6
        input(type='checkbox', name='my-checkbox',id="box4", checked='checked', data-off-color='warning')