doctype 5
html
  head
    title JARVIS
    meta(charset='UTF-8')-
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/roboto.min.css', rel='stylesheet')
    link(href='/css/material.min.css', rel='stylesheet')
    link(href='/css/ripples.min.css', rel='stylesheet')
    link(href='/css/custom.css', rel='stylesheet')
    link(href='/css/slider.css', rel='stylesheet')
    //-link(href='/css/jquery.nouislider.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(href='/css/bootstrap-switch.css', rel='stylesheet')

  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') JARVIS | Control Center
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/monitor') Temperature
            li
              a(href='/control') Appliance Control
            li
              a(href='/showMacs') Bluetooth MACs
            li
              a(href='/help') Help
            li
              a(href="/users") Users
            li
              a(href='/about') About
      script(src='/js/jquery-1.10.2.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/ripples.min.js')
      script(src='/js/material.min.js')
      script(src='/js/layout.js')
      script(src='/js/bootstrap-switch.js')
      script(src='/js/bootstrap-slider.js')
      //-script(src='http://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js') 
    .container(style="padding-top:80px")
      .modal.alert-modal
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                |                 
                h4.modal-title Notification
              |             
              .modal-body
      block content