extends layout

block content
  script(src='/js/temp.js')
  .tempBox.jumbotron(style="margin:0px")
    center
      | Current Temperature
      .temp
      .humid
   .jumbotron(style="margin:0px;background-color:LightSeaGreen;color:white;")
      center
        h1 AC Settings
        br
        #actemp
          | AC Temperature
          br
          #acTempBox
            | 12 °C
          .btn.btn-info.btn-ac-dec
            | COOL
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          .btn.btn-danger.btn-ac-inc
            | WARM